@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  @apply dark:bg-neutral-800;
  @apply bg-neutral-50;
  @apply dark:text-neutral-300;
  @apply text-neutral-800;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-neutral-400;
  @apply dark:bg-neutral-300;
  @apply rounded-lg;
}
